name: Latest blog post workflow
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Update blog posts'
        required: true
        default: 'yes'

jobs:
  update-readme-with-blog:
    name: Update this repo's README with the latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://devtidbits.com/feed/"
          max_post_count: 3
